// Color Variables
$main-color: #000;
$text-color: #fff;
$highlight-color: #FFCE56;
$secondary-color: #cccccc;

// Font Variables
$font-family: 'Montserrat';

.sidebar {
    padding: 10px;
    width: 15%;

    .sidebar-inner {
        background-color: $main-color;
        height: 110vh;
        color: $text-color;
        border-radius: 22px;
        padding: 2% 6%;
        position: fixed;
        height: 89vh;
        overflow: hidden;
        padding-left: 40px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        @keyframes blink {
            0% {
                opacity: 1;
            }

            50% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        span {
            animation: blink 1s infinite;
        }
    }

    .top-nav {
        margin: 0;
        padding: 0;
        padding-top: 20px;
    }

    .top-nav {
        p {
            color: $text-color;
            line-height: 40px;
            font-family: $font-family;
        }

        p:nth-child(1) {
            animation: slideFromLeftToRight 0.2s ease-in-out;
        }

        p:nth-child(2) {
            animation: slideFromLeftToRight 0.4s ease-in-out;
        }

        p:nth-child(3) {
            animation: slideFromLeftToRight 0.6s ease-in-out;
        }

        p:nth-child(4) {
            animation: slideFromLeftToRight 0.8s ease-in-out;
        }

        p:nth-child(5) {
            animation: slideFromLeftToRight 0.9s ease-in-out;
        }
    }

    @keyframes slideFromLeftToRight {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0);
        }
    }

    .top-nav p i {
        padding-right: 3px;
    }

    .top-nav p:hover {
        color: $highlight-color;
        cursor: pointer;
    }

    .footer {
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 1%;

        p {
            color: $secondary-color;
            animation: bottomToTop 0.6s ease-in-out;

        }

        @keyframes bottomToTop {
            0% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(-100%);
            }
        }

        &:hover {
            color: $highlight-color;
            cursor: pointer;
        }
    }
}

@keyframes backgroundChange {
    0% {
        background-position: top right;
        animation-delay: 0.6s;
    }

    25% {
        background-position: top left;
        animation-delay: 0.6s;
    }

    50% {
        background-position: top center;
        animation-delay: 0.6s;
    }

    75% {
        background-position: right center;
        animation-delay: 0.6s;
    }

    100% {
        background-position: right bottom;
        animation-delay: 0.6s;
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 95%;
        text-align: center;

        .footer {
            display: none;
        }

        .sidebar-inner {
            padding-left: 20px;
            height: auto;
            position: relative;
            background-image: url('https://enally.in/images/new/servicesbg.png');
            animation: backgroundChange 12s infinite ease-in-out;
        }
    }
}